<div class="catalog">
  <div class="img-container">
    <div class="img-container-header">
      <div class="img-container-header-icon-arrow"></div>
      <div class="img-container-header-icon-heart"></div>
    </div>
    <div class="img-container-image"></div>
    <div class="img-container-footer">
      <div [style.background-color]="'#075095'" class="img-container-footer-line"></div>
      <div class="img-container-footer-line"></div>
      <div class="img-container-footer-line"></div>
      <div class="img-container-footer-line"></div>
      <div class="img-container-footer-line"></div>
    </div>
  </div>
  <div class="info-container">
    <div class="info-container-header">
      <div class="info-container-header-title">Ключ комбинированный 27мм (Chrome vanadium) на держателе сатинированный
        1/10 (ER-31027) ЭВРИКА
      </div>
      <div class="info-container-header-body">
        <div class="info-container-header-body-img"></div>
        <div class="info-container-header-body-text">Артикул:<span class="info-container-header-body-text-value">ФТ-305.174</span>
        </div>
        <div class="info-container-header-body-text">Код поставщика:<span class="info-container-header-body-text-value">00000030692</span>
        </div>
      </div>
    </div>
    <div class="info-container-delivery">
      <div class="info-container-delivery-header">
        <div class="info-container-delivery-header-title">15 341,00 ₽</div>
        <div class="info-container-delivery-header-bonus">
          <div class="info-container-delivery-header-bonus-img"></div>
          <div class="info-container-delivery-header-bonus-text">+ 20,79 баллов</div>
        </div>
      </div>
      <div class="info-container-delivery-body">
        <div class="info-container-delivery-body-header">
          <div class="info-container-delivery-body-header-title-container">
            <div class="info-container-delivery-body-header-title-container-city">Москва</div>
            <div class="info-container-delivery-body-header-title-container-img"></div>
          </div>
          <div class="info-container-delivery-body-header-btn-container">
            <div class="info-container-delivery-body-header-btn-container-text">В корзину</div>
            <div class="info-container-delivery-body-header-btn-container-img"></div>
          </div>
        </div>
        <div class="info-container-delivery-body-info">
          <div class="info-container-delivery-body-text">В наличии:<span
            class="info-container-delivery-body-text-value">2 шт.</span>
          </div>
          <div class="info-container-delivery-body-text">Дата поставки:<span [style.color]="'#50B946'"
                                                                             class="info-container-delivery-body-text-value">22.04.2025</span>
          </div>
        </div>
      </div>
      <div class="info-container-delivery-divider"></div>
      <div class="info-container-delivery-body">
        <div class="info-container-delivery-body-header">
          <div class="info-container-delivery-body-header-title-container">
            <div class="info-container-delivery-body-header-title-container-city">Ростов</div>
            <div class="info-container-delivery-body-header-title-container-img"></div>
          </div>
          <div [style.background-color]="'#fff'" [style.border]="'1px solid #075095'" class="info-container-delivery-body-header-btn-container">
            <div class="info-container-delivery-body-header-btn-container-img-minus"></div>
            <div [style.color]="'#01101E'" class="info-container-delivery-body-header-btn-container-text">1 шт.</div>
            <div class="info-container-delivery-body-header-btn-container-img-plus"></div>
          </div>
        </div>
        <div class="info-container-delivery-body-info">
          <div class="info-container-delivery-body-text">В наличии:<span
            class="info-container-delivery-body-text-value">2 шт.</span>
          </div>
          <div class="info-container-delivery-body-text">Дата поставки:<span
            [style.color]="'#B3B7BC'" class="info-container-delivery-body-text-value">29.04.2025</span>
          </div>
        </div>
      </div>
      <div class="info-container-delivery-divider"></div>
    </div>
    <div class="info-container-tabs">
      <div [style.background-color]="'#E6ECF1'" [style.color]="'#075095'" class="info-container-tabs-btn">Описание</div>
      <div class="info-container-tabs-btn">Характеристики</div>
      <div class="info-container-tabs-btn">Аналоги (1)</div>
      <div class="info-container-tabs-btn">Сопутствующие (1)</div>
      <div class="info-container-tabs-btn">Тех.документация (2)</div>
    </div>
    <div class="info-container-description">
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Тип ТС</div>
        <div class="info-container-description-block-body">грузовые автомобили, автобусы, сельхозтехника</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Применяемость</div>
        <div class="info-container-description-block-body">КАМАЗ, ЛИАЗ, CASE <br>с дв. CUMMINS ISBe/ISDe</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Марка ТС</div>
        <div class="info-container-description-block-body">КАМАЗ, ЛИАЗ, CASE</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">КроссКоды</div>
        <div class="info-container-description-block-body">FC6206
          <br>WK950/3
          <br>110-16-008
          <br>6127
          <br>FF185М
          <br>1457434180
          <br>KC28
          <br>KF3041</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Состав комплекта</div>
        <div class="info-container-description-block-body">Фильтр очистки топлива: 1 шт.</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Модель двигателя</div>
        <div class="info-container-description-block-body">Cummins ISD 6.7, Cummins ISB 6.7</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Марка двигателя</div>
        <div class="info-container-description-block-body">Cummins Inc.</div>
      </div>
      <div class="info-container-description-block">
        <div class="info-container-description-block-title">Доп. информация</div>
        <div class="info-container-description-block-body">-</div>
      </div>
    </div>
  </div>
</div>
