<div class="navbar">
  <div class="nav-item">
    <div [style.background-image]="'url(/assets/images/11.png)'" class="nav-item-img"></div>
    <div [style.color]="'#075095'" [style.font-weight]="'700'" class="nav-item-text">Каталог</div>
  </div>
  <div class="nav-item">
    <div [style.background-image]="'url(/assets/images/12.png)'" class="nav-item-img"></div>
    <div class="nav-item-text">Заказы</div>
  </div>
  <div class="nav-item">
    <div [style.background-image]="'url(/assets/images/13.png)'" class="nav-item-img"></div>
    <div class="nav-item-text">Новости</div>
  </div>
  <div class="nav-item">
    <div [style.background-image]="'url(/assets/images/14.png)'" class="nav-item-img"></div>
    <div class="nav-item-text">Корзина</div>
  </div>
  <div class="nav-item">
    <div [style.background-image]="'url(/assets/images/15.png)'" class="nav-item-img"></div>
    <div class="nav-item-text">Профиль</div>
  </div>
</div>
